@import "tailwindcss";

/* -----------------------------
   Theme Variables
----------------------------- */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind theme mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Dark mode (future-ready) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* -----------------------------
   Base Styles
----------------------------- */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.6;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-slow {
  animation: marquee-slow 60s linear infinite;
}
/* To pause image slider on hover uncomment this */
/* .animate-marquee-slow:hover {
  animation-play-state: paused;
} */
